body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Imagen.principal.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
    color: #333;
}

/* Estilos del cargador */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading {
    position: relative;
    width: 100px;
    height: 100px;
}

.loading span {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #3a86ff;
    animation: rotate 2s infinite;
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #ffbe0b;
    transform-origin: bottom right;
    animation-delay: 0s;
}

.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #ff006e;
    transform-origin: bottom left;
    animation-delay: 0.5s;
}

.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #fb5607;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #8338ec;
    transform-origin: top left;
    animation-delay: 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
     display: none;
    background-image: url(imagen2.jpg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(128,128,128,0.5);
    text-align: center;
    max-width: 600px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.logo {
    position: fixed;
    width: 65px;
    height: auto;
    top: 10px;
    left: 10px;
    transition: transform 0.2s ease-in-out;
}
.logo:active { 
    transform: scale(1.5);
}

h1 {
    color: #E5E5E5;
    margin: 0 0 20px 0;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #D7DBDD;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #909497;
}

.error {
    color: red;
    font-weight: bold;
}

.device {
    margin-top: 10px;
    font-weight: bold;
    color: #E5E5E5;
}

.copy-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    z-index: 1000;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(20px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(20px); }
}

.copy-message.show {
    display: block;
    animation: slideInOut 2s forwards;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 80px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        max-width: 60%;
    }
}

.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    background-image: url(pie2.jpg);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-weight: bold;
}

